p{
    font-size: 10px;
}

div{
    margin: 20px;
    padding: 10px;
}

.caja1{
    width: 190px;
    height: 90px;
    border: 3px blue solid;
    background: url(../../img/f01.png) left bottom repeat-x, url(../../img/f02.png) left bottom no-repeat, url(../../img/f03.png) left top repeat-x;
    background-color: #a4d3ff;
}

.caja2{
        width: 420px;
        height: 376px;
        border: 5px rgb(206, 0, 0) solid;
        background-color: aliceblue;
        margin-left: 50px;
        background: url(../../img/f01.png) left bottom repeat-x, url(../../img/f02.png) left bottom no-repeat, url(../../img/f03.png) left top repeat-x;
        background-color: #a4d3ff;
}


.caja3{
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px black solid;
    background-color: aliceblue;
    margin: 20px;
    text-align: center;
    padding-top: 15px;
}
