body{
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: left;
}
th{
   text-align: center;
}

.verde {
    background-color: #00cc00;
  }

  .verde-claro {
    background-color: #b3ffb3;
  }

  .verde-oscuro {
    background-color: #005000;
  }

  .centrado{
      text-align: center;
  }