table {
    border-collapse: collapse;
    /* width: 100%; */
}

th, td {
    border: 2px solid black;
    text-align: center;
    /* outline: 2px solid black; */
}

.letraNegra{
    font-weight: bold;
}